<a href="https://colab.research.google.com/github/rpizarrog/Analisis-Inteligente-de-datos/blob/main/bloc%20de%20notas/Caso_2_An%C3%A1lisis_Descriptivo_de_pel%C3%ADculas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objetivo

Elaborar un análisis descriptivo de un datos de películas

# Decripción

Cargar los datos de peliculas

Analizar decriptivamente las variables cuantitativas de duración de película, rating y valor económico para determinar los estadísticos de valores medios, desviaciones estándar, máximos y mínimos de esas variables cuantitativas para su correcta interpretación

Analizar la frecuncia de los géneros de las películas para conocer las frecuencias de las mismas.

Visualizar (hacer grácica) mediante diagrama histograma las variables cuantitativas de duración de película, rating y valor económico

Visualizar (hacer gráfica) mediante diagrama de barra la variable cualitativa género.

# Desarrollo
Se cargan los datos de películas de la dirección: https://github.com/rpizarrog/Analisis-Inteligente-de-datos

In [2]:
import pandas as pd
peliculas = pd.read_csv("https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/movies-db.csv")

peliculas

                                         name  year  ...  foreign age_restriction
0                                   Toy Story  1995  ...        0               0
1                                       Akira  1998  ...        1              14
2                          The Breakfast Club  1985  ...        0              14
3                                  The Artist  2011  ...        1              12
4                                Modern Times  1936  ...        0              10
5                                  Fight Club  1999  ...        0              18
6                                 City of God  2002  ...        1              18
7                            The Untouchables  1987  ...        0              14
8                        Star Wars Episode IV  1977  ...        0              10
9                             American Beauty  1999  ...        0              14
10                                       Room  2015  ...        1              14
11                            Dr. Strangelove  1964  ...        1              10
12                                   The Ring  1998  ...        1              18
13            Monty Python and the Holy Grail  1975  ...        1              18
14                        High School Musical  2006  ...        0               0
15                          Shaun of the Dead  2004  ...        1              18
16                                Taxi Driver  1976  ...        1              14
17                   The Shawshank Redemption  1994  ...        0              16
18                               Interstellar  2014  ...        0              10
19                                     Casino  1995  ...        0              18
20                             The Goodfellas  1990  ...        0              14
21                 Blue is the Warmest Colour  2013  ...        1              18
22                                 Black Swan  2010  ...        0              16
23                         Back to the Future  1985  ...        0               0
24                                   The Wave  2008  ...        1              16
25                                   Whiplash  2014  ...        1              12
26                   The Grand Hotel Budapest  2014  ...        0              14
27                                    Jumanji  1995  ...        0              12
28  The Eternal Sunshine of the Spotless Mind  2004  ...        0              14
29                                    Chicago  2002  ...        0              12

[30 rows x 8 columns]

duración de película, rating y valor económico
## Variable duración de películas (length_min)

length_min: sta variable significa cuánto tiempo dura en minutos cada película

average_rating: significa el valor de aceptación = popularidad = importancia = jerarqupia = rating

cost_millions: significa el valor económico de la película

In [4]:

# Pendiente solo las variables de interés
peliculas.describe()

              year  length_min  ...    foreign  age_restriction
count    30.000000   30.000000  ...  30.000000        30.000000
mean   1995.500000  116.800000  ...   0.400000        12.933333
std      17.318019   25.306943  ...   0.498273         5.112077
min    1936.000000   81.000000  ...   0.000000         0.000000
25%    1987.750000   99.250000  ...   0.000000        12.000000
50%    1998.500000  110.500000  ...   0.000000        14.000000
75%    2007.500000  124.250000  ...   1.000000        16.000000
max    2015.000000  179.000000  ...   1.000000        18.000000

[8 rows x 6 columns]