<a href="https://colab.research.google.com/github/rpizarrog/Analisis-Inteligente-de-datos/blob/main/Pyhton%20documentos/Regresi%C3%B3n_lineal_simple_Diez_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Autor: rubén Pizarro Gurrola
# Fecha: 01-03-2022

# Autor: Rubén Pizarro Gurrola
# Date: 01-03-2022

# Objetivo 
Construir un modelo de regresón lineal simple con datos de dos variables y predecir un valor con el modelo.

# Descripción

# Desarrollo

## Cargar librerías

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
#from sklearn.metrics import mean_squared_error, r2_score
#import matplotlib.pyplot as plt
#%matplotlib inline

## Cargar datos

In [3]:
datos = pd.read_csv("https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/datos%20para%20regresion%20diez%20datos.csv")
datos

    x   y
0  10  15
1  11  16
2  13  18
3  15  19
4  13  17
5  12  16
6  10  16
7  11  17
8  15  20
9  10  16

### Explorar los datos

In [4]:
datos.describe()

               x          y
count  10.000000  10.000000
mean   12.000000  17.000000
std     1.943651   1.563472
min    10.000000  15.000000
25%    10.250000  16.000000
50%    11.500000  16.500000
75%    13.000000  17.750000
max    15.000000  20.000000

## Correlación

In [5]:
round(datos['x'].corr(datos['y'], method='pearson'),2)

0.91

## Regresión lineal simple
$$
Y = a + b \cdot x
$$

Construir el modelo usando función linear_model.LinearRegression()

In [7]:
modelo = linear_model.LinearRegression()
modelo

LinearRegression()

Entrenar el modelo o utilizar los datos en el modelo construído.

Antes de emplear las variables del conjunto de datos, se transforman a tipos de datos arreglos de la librería numpy.

In [9]:
x = datos[['x']].to_numpy()
y = datos[['y']].to_numpy()
print(x)
print(y)

modelo.fit(x, y)

[[10]
 [11]
 [13]
 [15]
 [13]
 [12]
 [10]
 [11]
 [15]
 [10]]
[[15]
 [16]
 [18]
 [19]
 [17]
 [16]
 [16]
 [17]
 [20]
 [16]]

LinearRegression()

## Dispersión con linea de tendencia

Pendiente ...

## Coeficientes a y b

In [13]:
b = modelo.coef_
a = modelo.intercept_
print("Valor de a: ", a)
print("Valor de b: ", b)

Valor de a:  [8.17647059]
Valor de b:  [[0.73529412]]

### Predicciones

In [14]:
import ctypes
Y_pred = modelo.predict(np.array([[15]]))
print("La predicción con x = 15 es: ", np.round(Y_pred, 4))
print(type(Y_pred))

La predicción con x = 15 es:  [[19.2059]]
<class 'numpy.ndarray'>

# Interpretación

Pendiente ...